{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<script type="text/javascript" src="{{
  url_for('static', filename='funThings.js') }}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/funThings.js"></script>


<style>
	body {
   		font-family: 		"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   		font-weight: 		300;
	}
	#container {
    	height: 			700px;
    	width:				100%;
    	margin: 			auto;
    	text-align:			center;
    	margin: 			auto;
	}
	#secondImg {
		width:				100%;
		max-width:			400px;
		margin-top:			10px;
		margin-bottom:		30px;
		margin-right:		auto;
		margin-left:		auto;
	}
	
	#firstImg {
		width:				100%;
		max-width:			450px;
		z-index:			10;
		margin-right:		auto;
		margin-left:		auto;
	}
	#about, #welcomeMsg {
		width:				100%;
		max-width:			400px;
	}
	#navigation{
		display:			inline-block;
	}
	#intro {
		margin-top:				10px;
		margin-bottom:			34px;
		width:					100%;
		max-width:				520px;
		margin-left:			auto;
		margin-right:			auto;
	}
	.serviceType{
		text-decoration:		underline;
	}
	#coord {
		font-size:				12px;
	}
	a {
		color:					black;
		text-decoration:		none;
		
	}
	.icon {
		width:					50px;
	}
	
</style>

<title>Suzyloo</title>
<div id="container">
	<div id="firstImg">
		<img id="about" src="/static/images/about.png">	
	</div>
	
	<div id="intro">
		
		<p class="serviceType">
			ABOUT
		</p>
		<p>
			I'm Suzy! I studied Computer Science at Southern Connecticut State University. My hobbies include eating, sleeping, and crying quietly 
			whilst wondering where my life went wrong. This site is a way for me to show off some of the things I enjoy doing. Interested in commissions, 
			collaborations, or commiseration? Please check out the <a style="text-decoration: underline;" href="../contact">contact page</a> and let me know!
			
			
		</p>
		
		<div id="iconHolder">
			
			<a href="http://instagram.com/suzydiane"> <img class="icon" src="/static/images/instagramIcon.png"> </a>
			<a href="http://susieloo.tumblr.com/"> <img class="icon" src="/static/images/tumblrIcon.png"></a>
			<a href="https://github.com/suzyloo/"><img class="icon" style="background-color: black;" src="/static/images/githubIcon.png"></a>
			<a href="https://www.linkedin.com/profile/view?id=388993942"><img class="icon" src="/static/images/linkedinIcon.png"></a>
			
		</div>
		
		
	</div>
	
	
</div>

<script>
	var hatMouse = "susandianebowes";
	var mouseHat = "gmail.com"
	var linktext = hatMouse + "@" + mouseHat ;
	var emailHolder = document.getElementById("email");
	emailHolder.innerHTML = ("<a href='" + "mail" + "to:" + hatMouse + "@" + mouseHat + "'>" + linktext + "</a>");

</script>

{% endblock %}