{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

<script src="/static/lightboxJS/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/lightboxJS/lightbox.min.js"></script>

<link href="/static/lightBoxCSS/lightbox.css" rel="stylesheet" />
<link href="/static/css/adoptable.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">

<title>Adoptables!</title>

<div id="content">

<div id="header">
<img id="headText" src="http://i.imgur.com/VGQcJgw.png"></div>
<a name="0"></a> 
<div id="main">
<div id="ghostContainment">
<div class="bouncer">
<img id="lilGhost" src="http://i.imgur.com/KXLcVqV.png">
</div>
<img id="lilGhostPoof" src="http://i.imgur.com/dNiRGvA.png">
<img id="lilGhostRules" src="http://i.imgur.com/jZqS41w.png">
</div>
<div class="oval"></div>

<p><a href="http://www.neopets.com/neomessages.phtml?type=send&recipient=ghostie_of_the_fc">Contact me</a>
</p><p>
<a href="http://www.neopets.com/~Lethal_Krawk">Art page</a>
</p>

<div class="navContainer">
<div class="navDiv">
<a href="#acara">Acara</a>
</div>
<div class="navDiv">
<a href="#aisha">Aisha</a>
</div>
<div class="navDiv">
<a href="#blumaroo">Blumaroo</a>
</div>

<div class="navDiv">
<a href="#bori">Bori</a>
</div>

<div class="navDiv">
<a href="#bruce">Bruce</a>
</div>

<div class="navDiv">
<a href="#buzz">Buzz</a>
</div>

<div class="navDiv">
<a href="#chia">Chia</a>
</div>

<div class="navDiv">
<a href="#chomby">Chomby</a>
</div>

<div class="navDiv">
<a href="#cybunny">Cybunny</a>
</div>

<div class="navDiv">
<a href="#draik">Draik</a>
</div>

<div class="navDiv">
<a href="#elephante">Elephante</a>
</div>

<div class="navDiv">
<a href="#eyrie">Eyrie</a>
</div>

<div class="navDiv">
<a href="#flotsam">Flotsam</a>
</div>

<div class="navDiv">
<a href="#gelert">Gelert</a>
</div>

<div class="navDiv">
<a href="#gnorbu">Gnorbu</a>
</div>

<div class="navDiv">
<a href="#grarrl">Grarrl</a>
</div>

<div class="navDiv">
<a href="#grundo">Grundo</a>
</div>

<div class="navDiv">
<a href="#hissi">Hissi</a>
</div>

<div class="navDiv">
<a href="#ixi">Ixi</a>
</div>

<div class="navDiv">
<a href="#jetsam">Jetsam</a>
</div>

<div class="navDiv">
<a href="#jubjub">Jubjub</a>
</div>

<div class="navDiv">
<a href="#kacheek">Kacheek</a>
</div>

<div class="navDiv">
<a href="#kau">Kau</a>
</div>

<div class="navDiv">
<a href="#kiko">Kiko</a>
</div>

<div class="navDiv">
<a href="#koi">Koi</a>
</div>

<div class="navDiv">
<a href="#korbat">Korbat</a>
</div>

<div class="navDiv">
<a href="#kougra">Kougra</a>
</div>

<div class="navDiv">
<a href="#krawk">Krawk</a>
</div>

<div class="navDiv">
<a href="#kyrii">Kyrii</a>
</div>

<div class="navDiv">
<a href="#lenny">Lenny</a>
</div>

<div class="navDiv">
<a href="#lupe">Lupe</a>
</div>

<div class="navDiv">
<a href="#lutari">Lutari</a>
</div>

<div class="navDiv">
<a href="#meerca">Meerca</a>
</div>

<div class="navDiv">
<a href="#moehog">Moehog</a>
</div>

<div class="navDiv">
<a href="#mynci">Mynci</a>
</div>

<div class="navDiv">
<a href="#nimmo">Nimmo</a>
</div>

<div class="navDiv">
<a href="#ogrin">Ogrin</a>
</div>

<div class="navDiv">
<a href="#peophin">Peophin</a>
</div>

<div class="navDiv">
<a href="#poogle">Poogle</a>
</div>

<div class="navDiv">
<a href="#pteri">Pteri</a>
</div>

<div class="navDiv">
<a href="#quiggle">Quiggle</a>
</div>

<div class="navDiv">
<a href="#ruki">Ruki</a>
</div>

<div class="navDiv">
<a href="#scorchio">Scorchio</a>
</div>

<div class="navDiv">
<a href="#shoyru">Shoyru</a>
</div>

<div class="navDiv">
<a href="#skeith">Skeith</a>
</div>

<div class="navDiv">
<a href="#techo">Techo</a>
</div>

<div class="navDiv">
<a href="#tonu">Tonu</a>
</div>

<div class="navDiv">
<a href="#tuskaninny">Tuskaninny</a>
</div>

<div class="navDiv">
<a href="#uni">Uni</a>
</div>

<div class="navDiv">
<a href="#usul">Usul</a>
</div>

<div class="navDiv">
<a href="#vandagyre">Vandagyre</a>
</div>

<div class="navDiv">
<a href="#wocky">Wocky</a>
</div>

<div class="navDiv">
<a href="#xweetok">Xweetok</a>
</div>

<div class="navDiv">
<a href="#yurble">Yurble</a>
</div>

<div class="navDiv">
<a href="#zafara">Zafara</a>
</div>


</div>
</div>

<div class="clear">
</div>

</div>
<div class="adoptablesAndExamples">
<div class="species">
<a name="acara"></a> 
 <div class="sHeader">
  <span class="headerText"> ACARA </span>

 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/tEOveUg.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="aisha"></a> 
 <div class="sHeader">
  <span class="headerText"> AISHA </span>
  
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/Iuzs8Yf.png"></div>

    <div class="sRight">

<textarea class="customText">This is my Aisha, Nuuq!</textarea><img class="customAdopt" src="http://i.imgur.com/iVPvWDa.png"><textarea class="customText">This is my Aisha, Problem! (:</textarea><img class="customAdopt" src="http://i.imgur.com/PpK4nt2.png"><textarea class="customText">This is my Aisha, Hostile17! (:</textarea><img class="customAdopt" src="http://i.imgur.com/vO0V2fi.png"><div class="clear">
</div>
<p>OLD VERSION</p>
<div class="clear">
</div>

<textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/7529qtV.png"></a> </textarea><img class="customAdopt" src="http://i.imgur.com/7529qtV.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/palQpPD.png"></a> </textarea><img class="customAdopt" src="http://i.imgur.com/palQpPD.png"></div>
</div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="blumaroo"></a> 
 <div class="sHeader">
  <span class="headerText"> BLUMAROO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/hecLnmN.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="bori"></a> 
 <div class="sHeader">
  <span class="headerText"> BORI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/Z2wZCGW.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/tFrmysx.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/tFrmysx.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/Xj4FzCD.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/Xj4FzCD.png"><textarea class="customText">This is my own Bori, Nouah! (:</textarea><img class="customAdopt" src="http://i.imgur.com/lRDw2JU.png"></div>
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="bruce"></a> 
 <div class="sHeader">
  <span class="headerText"> BRUCE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/CJowQpH.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="buzz"></a> 
 <div class="sHeader">
  <span class="headerText"> BUZZ </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/Wc9p4Vw.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/inhw4GD.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/inhw4GD.png"></div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="chia"></a> 
 <div class="sHeader">
  <span class="headerText"> CHIA </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/imZKZxb.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="chomby"></a> 
 <div class="sHeader">
  <span class="headerText"> CHOMBY </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/OVLRRuA.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="cybunny"></a> 
 <div class="sHeader">
  <span class="headerText"> CYBUNNY </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/QTr3jg0.png"></div>

    <div class="sRight">
<textarea class="customText">This is my Cybunny, sugar_bunny92! (:</textarea><img class="customAdopt" src="http://i.imgur.com/DXe5Xej.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/uDpDnpi.png"></a> </textarea><img class="customAdopt" src="http://i.imgur.com/uDpDnpi.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="draik"></a> 
 <div class="sHeader">
  <span class="headerText"> DRAIK </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/FG25ECg.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Draik, SaenEtoile! (:</textarea><img class="customAdopt" src="http://i.imgur.com/xkOWQym.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="elephante"></a> 
 <div class="sHeader">
  <span class="headerText"> ELEPHANTE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/0IN6EZS.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="eyrie"></a> 
 <div class="sHeader">
  <span class="headerText"> EYRIE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/oasbuq4.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Eyrie, Lemry! (:</textarea><img class="customAdopt" src="http://i.imgur.com/zzO8QOH.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/YZfHN3V.png"></a>
        </textarea><img class="customAdopt" src="http://i.imgur.com/YZfHN3V.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/gTfAaRy.png"></a> 
        </textarea><img class="customAdopt" src="http://i.imgur.com/gTfAaRy.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/3eZWe4K.png"></a> 
        </textarea><img class="customAdopt" src="http://i.imgur.com/3eZWe4K.png"></div> 
        

 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="flotsam"></a> 
 <div class="sHeader">
  <span class="headerText"> FLOTSAM </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/bk5GdIV.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="gelert"></a> 
 <div class="sHeader">
  <span class="headerText"> GELERT </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/TVBTo1Y.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Gelert, Daesert! (:</textarea><img class="customAdopt" src="http://i.imgur.com/zz5qENp.png"><textarea class="customText">This is my Gelert, Jowwor! (:</textarea><img class="customAdopt" src="http://i.imgur.com/M8RBH6q.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="gnorbu"></a> 
 <div class="sHeader">
  <span class="headerText"> GNORBU </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/5is5rtk.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="grarrl"></a> 
 <div class="sHeader">
  <span class="headerText"> GRARRL </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/dnS2npB.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="grundo"></a> 
 <div class="sHeader">
  <span class="headerText"> GRUNDO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/nDhodRb.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/KvIeIOt.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/KvIeIOt.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="hissi"></a> 
 <div class="sHeader">
  <span class="headerText"> HISSI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/errR6gI.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="ixi"></a> 
 <div class="sHeader">
  <span class="headerText"> IXI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/96UjnXE.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Ixi, Esom! (:</textarea><img class="customAdopt" src="http://i.imgur.com/VjvZu0H.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/Z6SlCRY.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/Z6SlCRY.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="jetsam"></a> 
 <div class="sHeader">
  <span class="headerText"> JETSAM </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/EpTwWNR.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="jubjub"></a> 
 <div class="sHeader">
  <span class="headerText"> JUBJUB </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/qxlgSTK.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="kacheek"></a> 
 <div class="sHeader">
  <span class="headerText"> KACHEEK </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/o59Cu2C.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/f376iwH.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/f376iwH.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="kau"></a> 
 <div class="sHeader">
  <span class="headerText"> KAU </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/DoVIAoX.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="kiko"></a> 
 <div class="sHeader">
  <span class="headerText"> KIKO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/zf7RoAM.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="koi"></a> 
 <div class="sHeader">
  <span class="headerText"> KOI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/KaZMfIs.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="korbat"></a> 
 <div class="sHeader">
  <span class="headerText"> KORBAT </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/1q5GVqB.png"></div>

    <div class="sRight">
<textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/nwPkBYp.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/nwPkBYp.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/vOkk2tC.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/vOkk2tC.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/dEsUzMJ.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/dEsUzMJ.png"></div>
</div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="kougra"></a> 
 <div class="sHeader">
  <span class="headerText"> KOUGRA </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/jnuTDpT.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="krawk"></a> 
 <div class="sHeader">
  <span class="headerText"> KRAWK </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/dIT3QUH.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my pet, Lethal_Krawk! (:</textarea><img class="customAdopt" src="http://i.imgur.com/im8qQkZ.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="kyrii"></a> 
 <div class="sHeader">
  <span class="headerText"> KYRII </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/udCO6rz.png"></div>

    <div class="sRight">
        <textarea class="customText">This is just a RG Kyrii! (:</textarea><img class="customAdopt" src="http://i.imgur.com/TSzU0Xt.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="lenny"></a> 
 <div class="sHeader">
  <span class="headerText"> LENNY </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/gY1Ihl3.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="lupe"></a> 
 <div class="sHeader">
  <span class="headerText"> LUPE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/fWLuJaD.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Lupe, Taylowr!</textarea><img class="customAdopt" src="http://i.imgur.com/qGpCuke.png"><textarea class="customText">This is my Lupe, Qilz! (:</textarea><img class="customAdopt" src="http://i.imgur.com/zkPjERB.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/LniR6Uh.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/LniR6Uh.png"><textarea class="customText">This is my Lupe, Flag!</textarea><img class="customAdopt" src="http://i.imgur.com/9DUsJHb.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="lutari"></a> 
 <div class="sHeader">
  <span class="headerText"> LUTARI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/XnkdT0H.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/HOxu621.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/HOxu621.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="meerca"></a> 
 <div class="sHeader">
  <span class="headerText"> MEERCA </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/9ZtifNO.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="moehog"></a> 
 <div class="sHeader">
  <span class="headerText"> MOEHOG </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/9eJjsGY.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Moehog xDelilahRose! (: </textarea><img class="customAdopt" src="http://i.imgur.com/OyCw9h2.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="mynci"></a> 
 <div class="sHeader">
  <span class="headerText"> MYNCI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/RfdY45T.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/5fcbviS.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/5fcbviS.png"></div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="nimmo"></a> 
 <div class="sHeader">
  <span class="headerText"> NIMMO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/OZw16cd.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="ogrin"></a> 
 <div class="sHeader">
  <span class="headerText"> OGRIN </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/mPu1i5I.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="peophin"></a> 
 <div class="sHeader">
  <span class="headerText"> PEOPHIN </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/6cqyKDE.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="poogle"></a> 
 <div class="sHeader">
  <span class="headerText"> POOGLE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/DKeK2ZM.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="pteri"></a> 
 <div class="sHeader">
  <span class="headerText"> PTERI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/dtE64Ad.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="quiggle"></a> 
 <div class="sHeader">
  <span class="headerText"> QUIGGLE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/BGF7Irw.png"></div>

    <div class="sRight">

        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/MByvW3J.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/MByvW3J.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="ruki"></a> 
 <div class="sHeader">
  <span class="headerText"> RUKI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/22bSPFu.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="scorchio"></a> 
 <div class="sHeader">
  <span class="headerText"> SCORCHIO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/sXrxEw5.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="shoyru"></a> 
 <div class="sHeader">
  <span class="headerText"> SHOYRU </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/ewnr6Jf.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="skeith"></a> 
 <div class="sHeader">
  <span class="headerText"> SKEITH </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/8dk8nEv.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/gsgCfcd.png"></a>
        </textarea><img class="customAdopt" src="http://i.imgur.com/gsgCfcd.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="techo"></a> 
 <div class="sHeader">
  <span class="headerText"> TECHO </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/5xQ50Sq.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/qnY5GPq.png"></a>
        </textarea><img class="customAdopt" src="http://i.imgur.com/qnY5GPq.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="tonu"></a> 
 <div class="sHeader">
  <span class="headerText"> TONU </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/4CeDC3H.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="tuskaninny"></a> 
 <div class="sHeader">
  <span class="headerText"> TUSKANINNY </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/oMAKH3s.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="uni"></a> 
 <div class="sHeader">
  <span class="headerText"> UNI </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/s20RPjD.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="usul"></a> 
 <div class="sHeader">
  <span class="headerText"> USUL </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/c1FGL21.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Usul, Native! (:</textarea><img class="customAdopt" src="http://i.imgur.com/0w5WvS1.png"><textarea class="customText">This is my Usul, Aurek! (:</textarea><img class="customAdopt" src="http://i.imgur.com/rrTEoJp.png"><textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/FbO6hFV.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/FbO6hFV.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="vandagyre"></a> 
 <div class="sHeader">
  <span class="headerText"> VANDAGYRE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/kIj3O9k.png"></div>

    <div class="sRight">
        <p class="sadText">No customs yet. :(</p>
    </div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="wocky"></a> 
 <div class="sHeader">
  <span class="headerText"> WOCKY </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/WgXg62I.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Wocky, Lifeh! (: </textarea><img class="customAdopt" src="http://i.imgur.com/YCAvbOw.png"></div> 
 </div>
</div>

<div class="clear">
</div>


<div class="species">
<a name="xweetok"></a> 
 <div class="sHeader">
  <span class="headerText"> XWEETOK </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/UIifcm2.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Xweetok, 0leana! (:</textarea><img class="customAdopt" src="http://i.imgur.com/3Twnb4E.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="yurble"></a> 
 <div class="sHeader">
  <span class="headerText"> YURBLE </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/Als1tvu.png"></div>

    <div class="sRight">
        <textarea class="customText">This is my Yurble, ____LabRat_____! (:</textarea><img class="customAdopt" src="http://i.imgur.com/oeEzasC.png"></div> 
 </div>
</div>

<div class="clear">
</div>

<div class="species">
<a name="zafara"></a> 
 <div class="sHeader">
  <span class="headerText"> ZAFARA </span>
 </div>
 <div class="sContent">
    <div class="sLeft">
        <img class="adoptMe" src="http://i.imgur.com/jkBDczL.png"></div>

    <div class="sRight">
        <textarea class="customText"><a href="http://www.neopets.com/~Flag"><img src="http://i.imgur.com/BXEJQLx.png"></a></textarea><img class="customAdopt" src="http://i.imgur.com/BXEJQLx.png"></div> 
 </div>
</div>

<div class="clear">
	  
</div>
</div>
<a href="#0"><div class="topButton">
	<div class="arrow-up"></div>
</div></a>
<script>

$( "#lilGhost" ).mousedown(function() {
	$( "#lilGhost" ).remove();
	$( '.oval').remove();
	$( '#lilGhostPoof' ).css("display", "inline");
	$( '.bouncer').removeClass('bouncer');
});
$( "#lilGhostPoof" ).mouseup(function() {
	$( '#lilGhostPoof' ).css("display", "none");
	$( '#lilGhostRules' ).css("display", "inline");
});

function loop() {
    $('.bouncer').stop().animate({'padding-top': '10'}, {
        duration: 1000, 
        complete: function() {
            $('.bouncer').stop().animate({'padding-top': 0}, {
                duration: 1000, 
                complete: loop});
        }});
	
	$('.oval').stop().animate({'width': '100'}, {
	        duration: 1000, 
	        complete: function() {
	            $('.oval').stop().animate({'width': '80'}, {
	                duration: 1000, 
	                complete: loop});
	        }});
	
}


loop();
alsoLoop();

</script>

{% endblock %}