{% block content %}

<script src="/static/lightboxJS/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/lightboxJS/lightbox.min.js"></script>

<link href="/static/lightBoxCSS/lightbox.css" rel="stylesheet" />

<style>
	body {
   		font-family: 			"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   		font-weight: 			300;
	}
	a {
		outline:				0;
		color:					#000000;
	}
	#container {
    	height: 				700px;
    	width:					100%;
    	margin: 				auto;
    	text-align:				center;
    	margin: 				auto;
	}
	.icon {
		width:					100%;
		max-width:				200px;
	}
	.smallTest {
		width:					100%;
		max-width:				400px;
		height:					266px;
	}
	.gridItem{
		float:					left;
		width:					100%;
		max-width:				400px;
		height:					266px;
		margin:					4px;
		overflow:				auto;
	}
	@media screen and (min-width:1225px) {
		#photoContainer {
			max-width: 			1224px;
		}
	}
    @media screen and (max-width:1224px) and (min-width:817px) {
		#photoContainer {
			max-width: 			816px;
		}
    }
	@media screen and (max-width:816px) {
		#photoContainer {
			max-width: 			408px;
		}
    }
   
	#photoContainer {
		margin:					0 auto;
		overflow:				auto;
	}
	#home{
		padding-top:			50px;
		padding-bottom:			50px;
	}
	#back {
		text-decoration:		none;
		color:					black;
	}
	#intro {
		margin-top:				10px;
		margin-bottom:			34px;
		
	}
	#photoText {
		width:					100%;
		max-width:				500px;
	}
	#photoHeader {
		width:					100%;
	}
	.canister {
		width:					100%;
		max-width:				200px;
	}
	.webBlockImage {
		width:					250px;
	}
	#webText{
		height:					100px;
	}
	.webIcon{
		width:					60px;
		margin:					0px 3px 0px 3px;
	}
	.descriptionText {
		max-width:				700px;
		margin:					0px auto;
		padding:				10px 0 10px 0;
	}
	.tagline{
		font-size:				.8em;
		margin-top:				24px;
		margin-bottom:			24px;
	}
	.screenshot {
		width:					90%;
		margin:					6px auto;
	}
</style>

<title>SuzyDiane - Analytics</title>
<div id="container">
	<div id="photoHeader">
		<img id="filmLeft"	class="canister"	src="/static/images/webRight.png">
		<img id="webText"	src="/static/images/web/webDevLogo.jpg">
		<img id="filmRight"	class="canister"	src="/static/images/webLeft.png">
	</div>
	<div class="tagline">Let's see those numbers.</div>
	<div id="iconHolder">
		<img class="webIcon" src="/static/images/HTMLlogo.png">
		<img class="webIcon" src="/static/images/CSSlogo.png">
		<img class="webIcon" src="/static/images/JAVASCRIPTlogo.png">
		<img class="webIcon" src="/static/images/JQUERYlogo.png"> 
	</div>
	
	<div class="descriptionText">
		<img class="screenshot" src="/static/images/ss/spanSS2.png">
		<div class="tagline">
			Opened slider menu after authorization process. Clicking 'Get Accounts' populates the 'Select an Account' drop-down, whose selection in turn populates the 'Select a Version' drop-down. Start and end dates are selected via a calender pop-up.
		</div>
		<img class="screenshot" src="/static/images/ss/spanSS3.png">
		<div class="tagline">
			Slider menu after adding accounts. This allows you to choose which metrics you'd like displayed, be it Sessions, User Visits, Revenue, Goal Completions, or all of the above. After making your selections, the 'Add Box' button will dynamically create a display module.
		</div>
		<img class="screenshot" src="/static/images/ss/spanSS.png">
		<div class="tagline">
			Slider menu closed. These are the dynamically created elements that report the desired information, including one that has been tallied. Each box can be resized and has its own dropdown menu for further customization and removal. Objects that do not measure the requested metrics (such as the 'undefined' goal completions) will not cause errors.
		</div>
		
	</div>
	
	<div class="descriptionText">
		Spanlytics was a project I worked on involving the Google Analytics API. The original intention was to pull data from Google Analytics for display, and the site evolved from there. Originally programmed using PHP, the site was later scrapped and recreated using JavaScript/JQuery to allow better user interaction. The site's design is based on mockups provided by the lead Graphic Designer and was created using HTML/CSS with JS/JQuery for responses and effects. The website uses JavaScript to dynamically create elements containing requested information. The resulting boxes can be freely moved and resized. Their text can be enlarged or shrunken, and information within a box can be tallied and summed. The site was built using Google API Documentation, and retooled to compensate for outdated code and failed authorization methods. Spanlytics is the property of MEA and was shelved when I left. As such, there is no live version, and the full code is not publicly available.
		
		<p>Click <a href="https://github.com/suzyloo/" target="_blank">here</a> to see some of the code on GitHub!</p>
	</div>
	<div id="home"><a id="back" href="/web">back</a></div>
</div>



{% endblock %}