{% block content %}

<script src="/static/lightboxJS/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="/static/lightboxJS/lightbox.min.js"></script>

<link href="/static/lightBoxCSS/lightbox.css" rel="stylesheet" />

<style>
	body {
   		font-family: 			"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   		font-weight: 			300;
	}
	#container {
    	height: 				700px;
    	width:					100%;
    	margin: 				auto;
    	text-align:				center;
    	margin: 				auto;
	}
	.icon {
		width:					100%;
		max-width:				200px;
	}
	.smallTest {
		width:					100%;
		max-width:				400px;
		height:					266px;
	}
	.gridItem{
		float:					left;
		width:					100%;
		max-width:				400px;
		height:					266px;
		margin:					4px;
		overflow:				auto;
	}
	@media screen and (min-width:1225px) {
		#photoContainer {
			max-width: 			1224px;
		}
	}
    @media screen and (max-width:1224px) and (min-width:817px) {
		#photoContainer {
			max-width: 			816px;
		}
    }
	@media screen and (max-width:816px) {
		#photoContainer {
			max-width: 			408px;
		}
    }
   
	#photoContainer {
		margin:					0 auto;
		overflow:				auto;
	}
	#home{
		padding-top:			50px;
		padding-bottom:			50px;
	}
	#back {
		text-decoration:		none;
		color:					black;
	}
	#intro {
		margin-top:				10px;
		margin-bottom:			34px;
	}
	#photoText {
		width:					100%;
		max-width:				500px;
	}
	#photoHeader {
		width:					100%;
	}
	.canister {
		width:					100%;
		max-width:				200px;
	}
	.webBlockImage {
		width:					250px;
	}
	#webText{
		height:					100px;
	}
	.webIcon{
		width:					50px;
	}
	
</style>

<title>Development</title>
<div id="container">
	<div id="photoHeader">
		<img id="filmLeft"	class="canister"	src="/static/images/webRight.png">
		<img id="webText"	src="/static/images/web/webDevLogo.jpg">
		<img id="filmRight"	class="canister"	src="/static/images/webLeft.png">
	</div>
	<div id="intro">This is pretty meta, huh?</div>
	<div id="iconHolder">
		<img class="webIcon" src="/static/images/HTMLlogo.png">
	</div>
	
</div>



{% endblock %}